html, body, #root {
    height: 100vh;
}

.progress-bar.transitionNone {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.notificationBadge {
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 4px 4px;
    border-radius: 50%;
    background: red;
}

.fas.fa-heart {
    color: red;
}

.fa-stack {
    size: 1em;
}

img {
    width: 70vw;
    height: 70vw;
    max-width: 256px;
    max-height: 256px;
    object-fit: cover;
}

#ImageUploadBar {
    top: 0;
    left: 0;
    background-color: transparent;
}