html, body, #root {
    height: 100%;
    overflow: hidden;
}

.progress-bar.transitionNone {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.notificationBadge {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 4px;
    border-radius: 50%;
    background: #00CC00;
}
.notificationBadge.isEvent {
    background: #3399ff;
}

.fas.fa-heart {
    color: red;
}

.fa-stack {
    size: 1em;
}

.avatarsUserIdent {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
}
#AvatarSelected {
    width: 70vw;
    height: 70vw;
    max-width: 256px;
    max-height: 256px;
}
.avatarsUserIdent > img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    image-orientation: from-image;
}
.avatarsUserIdent > img.portrait {
    height: auto;
    width: 100%;
}


#ImageUploadBar {
    top: 0;
    left: 0;
    background-color: transparent;
}

.maxW1000 {
    max-width: 1000px;
}

.maxW1000 {
    max-width: 1000px;
}

.mw80pct {
    max-width: 80%;
}

.minW50pct {
    min-width: 50%;
}

.m-0Auto {
    margin: 0 auto;
}

.fontSize150 {
    font-size: 1.5em;
}

.noBorder {
    border: none;
    border-radius: 0;
}

.noStyleLabel {
    display: block;
    margin: 0;
}

.messageBox {
    padding: 5px 12px 7px 12px;
    display: inline-block;
    max-width: 80%;
}
.messageBox.fullW {
    width: 80%;
}
.messageBox.fromSelf {
    border-radius: 17px 10px 0 17px;
}
.messageBox.fromOther {
    border-radius: 10px 17px 17px 0;
}
.messageBox.fromAdmin {
    border-radius: 0;
    font-size: 90%;
}

.messageText {
    width: 100%;
    letter-spacing: 0;
    font-size: 1.1em;
    word-wrap: break-word;
}

.bgLightBlue {
    background-color: #3694ff;
}

.bgLightGreen {
    background-color: #36ff8a;
}

.textYellow {
    color: yellow;
}

.textGreenYellow {
    color: greenyellow;
}

.FullSpreadAbsElem, .reimplementScroll {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.reimplementScroll {
    overflow: auto;
    padding: 10px;
}

.pad10 {
    padding: 10px;
}

.innerScrollItem:last-of-type {
    margin-bottom: 15px;
}

.head1 {
    font-size: 7vh !important;
}
.head2 {
    font-size: 6vh !important;
}
.head3 {
    font-size: 5vh !important;
}
.head4 {
    font-size: 4vh !important;
}

.transFlipYRot90 {
    -webkit-transform: scaleY(-1) rotate(90deg);
    transform: scaleY(-1) rotate(90deg);
}

.posAbsAlignVert50pct {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

small {
    display: block;
    font-size: 66%;
}

.w50p {
    width: 50px;
}

#CanvasControlsContainer {
    width: 100%;
    max-width: 300px;
    height: 100%;
    text-align: center;
}
#DrawComponentContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.inlineInput {
    border: none;
    border-bottom: 2px solid #dc3545;
    text-align: center;
}

.colourFlash {
    animation: blinkingButton 0.25s infinite;
}
@keyframes blinkingButton {
    0% {
        background-color: black;
        color: white;
    }
    49% {
        background-color: black;
        color: white;
    }
    50% {
        background-color: white;
        color: black;
    }
    99% {
        background-color: white;
        color: black;
    }
}