.progress-bar.transitionNone {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.notificationBadge {
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 4px 4px;
    border-radius: 50%;
    background: red;
}

.fas.fa-heart {
    color: red;
}

.fa-stack {
    size: 1em;
}